@tailwind base;
@tailwind components;
@tailwind utilities;

section {
  max-width: 90%;
  margin: 0 auto;
}

h4 {
  font-size: 36px;
  line-height: 30px;
  margin-bottom: 25px;
}

p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  margin: 0 0 15px;
  line-height: 2.1;
  font-weight: 300;
  color: #9c9ca9;
  text-align: justify;
}
.line {
  position: relative;
  margin-bottom: 16px;
}
.line:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: #99896e;
}
strong {
  font-weight: bold;
}
.hide-second-row > :nth-child(n + 4):nth-child(-n + 6) {
  display: none;
}