@tailwind base;
@tailwind components;
@tailwind utilities;

h4 {
  font-size: 36px;
  line-height: 30px;
  margin-bottom: 25px;
}

p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  margin: 0 0 15px;
  line-height: 2.1;
  font-weight: 300;
  color: #9c9ca9;
  text-align: justify;
}

section{
  padding: 60px 0px;
}
.line {
  position: relative;
  margin-bottom: 16px;
}
.line:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: #99896E;
}
strong{
  font-weight: bold;
}